<?xml version="1.0" encoding="UTF-8"?>
<Config>
      <Columns>
		   <Column>
				   <cardinality>100</cardinality>
				   <name>column1</name>
				   <datatype>String</datatype>
				   <template>country</template>
		   </Column>
		     <Column>
				   <cardinality>1000</cardinality>
				   <name>CountryCode</name>
				   <datatype>Integer</datatype>
				   <template>2</template>
		   </Column>
		    <Column>
				   <cardinality>100</cardinality>
				   <name>City</name>
				   <datatype>String</datatype>
				   <template>city</template>
		   </Column>
		   <Column>
				   <cardinality>12</cardinality>
				   <name>date</name>
				   <datatype>Date</datatype>
				   <template>yyyyMMdd-H:mm:ss</template>
		   </Column>
		   
      </Columns>
      <OutputDir>D:/data</OutputDir>
      <TotalRecordSize>1000</TotalRecordSize>
      <RecordsPerFile>100</RecordsPerFile>
</Config>