<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Columns>
		<Column>
			<cardinality>10000</cardinality>
			<name>nexus_id</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000000</cardinality>
			<name>connexus_id</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000</cardinality>
			<name>domain_id</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000</cardinality>
			<name>cust_id</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>31</cardinality>
			<name>pop_id</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>31</cardinality>
			<name>pop_code</name>
			<datatype>String</datatype>
			<template>pop_code</template>
		</Column>
		<Column>
			<cardinality>200</cardinality>
			<name>cc</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000000</cardinality>
			<name>client_ip</name>
			<datatype>ip</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>65535</cardinality>
			<name>client_port</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000000</cardinality>
			<name>server_ip</name>
			<datatype>ip</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>65535</cardinality>
			<name>server_port</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>10</cardinality>
			<name>role</name>
			<datatype>String</datatype>
			<template>role</template>
		</Column>
		<Column>
			<cardinality>10</cardinality>
			<name>opt</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000</cardinality>
			<name>app</name>
			<datatype>String</datatype>
			<template>app</template>
		</Column>
		<Column>
			<cardinality>10</cardinality>
			<name>start_time</name>
			<datatype>timestamp</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>731275</cardinality>
			<name>duration</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000000</cardinality>
			<name>orig_tx</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000000</cardinality>
			<name>orig_rx</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000000</cardinality>
			<name>comp_tx</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>1000000</cardinality>
			<name>comp_rx</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>100000</cardinality>
			<name>ratio</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>10000</cardinality>
			<name>setup_time</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>10000000</cardinality>
			<name>flow_time</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>12</cardinality>
			<name>time_slot</name>
			<datatype>Date</datatype>
			<template>yyyyMMdd_HHmm</template>
		</Column>
		<Column>
			<cardinality>2</cardinality>
			<name>conn_err</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>5000</cardinality>
			<name>r_nexus_id</name>
			<datatype>Integer</datatype>
			<template>1</template>
		</Column>
		<Column>
			<cardinality>5</cardinality>
			<name>service_type</name>
			<datatype>String</datatype>
			<template>service</template>
		</Column>
	</Columns>
	<OutputDir>/home/ashok/junk/data/gen</OutputDir>
	<TotalRecordSize>1000</TotalRecordSize>
	<RecordsPerFile>1000</RecordsPerFile>
</Config>
